body {
  color: aliceblue;
  background: center/150%
    url("https://source.unsplash.com/1600x900/?nature,weather");
  backdrop-filter: blur(10px);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100%;
  margin-bottom: 0px;
  padding-bottom: 0px;
}

h1 {
  text-align: left;
}

.App {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  text-align: left;
}

.app-body {
  border: 2px solid aliceblue;
  border-radius: 10px;
  background: center/200%
    url("https://source.unsplash.com/1600x900/?nature,weather");
  background-size: cover;
  max-width: 800px;
  margin-left: 270px;
}

.forcast-border {
  border-left: 1px solid aliceblue;
}

.forcast {
  margin-bottom: 80px;
  margin-top: 30px;
  color: #ffcd6b;
}

button {
  border-radius: 10px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

ul {
  list-style: none;
  text-align: left;
  margin-bottom: 70px;
}

a {
  text-decoration: none;
}

input {
  text-transform: capitalize;
}

li::first-letter {
  text-transform: capitalize;
}

h1::first-letter {
  text-transform: capitalize;
}

@media (max-width: 900px) {
  .app-body {
    margin-left: 50px;
  }
  .forcast-border {
    border-left: 0px solid aliceblue;
  }
}
