.all-forcast {
  margin-left: -12px;
  margin-top: -10px;
}

.date-time {
  font-weight: light;
  font-size: 24px;
}

.author-name {
  color: #ffcd6b;
}
.current-day {
  width: 100%;
  border: 3px solid #906173;
  border-radius: 10px;
  padding: 0px 20px;
  box-shadow: 10px 5px 5px;
  margin: 0px auto;
}

.days {
  text-align: center;
  font-weight: 300px;
  font-size: 48;
  line-height: 1.5;
}

.weather-forcast-temperature-min {
  opacity: 0.7;
}

.element,
.day-of-week,
.weather {
  text-align: center;
  font-weight: bolder;
  font-size: 48;
  line-height: 1.5;
}

.units {
  display: inline-block;
  font-size: 18px;
  line-height: 24px;
  margin-top: 6px;
  padding-left: 0px;
  vertical-align: top;
  font-weight: bold;
  margin-left: 0px;
}

.units a {
  text-decoration: none;
}

.unit-color {
  color: #ffcd6b;
}
.current-temp .active {
  cursor: default;
  color: #6f4785;
}

.current-temp {
  text-align: left;
  font-weight: 700px;
  font-size: 36px;
}
.current-description {
  font-size: 24px;
}

.link {
  text-align: right;
}

.icon-class {
  line-height: 1px;
  line-height: 1px;
  margin-top: -5px;
  margin-bottom: 0px;
  padding: 0px;
}

.weather-app-wrapper a {
  text-decoration: none;
}
